---

import { sortAsc } from "../js/utils.js"

import ShapeBlocks from "../assets/shape-blocks.astro";

import CommonCircleNumber from "./common-circle-number.astro";
import CommonListItemBox from "./common-list-item-box.astro";

const items1 = (await Astro.glob('../content/launch-scale-list1/*.md')).sort(sortAsc);
const items2 = (await Astro.glob('../content/launch-scale-list2/*.md')).sort(sortAsc);
const items3 = (await Astro.glob('../content/launch-scale-list3/*.md')).sort(sortAsc);

---
<section id="launch-scale"
    class="relative max-w-screen-xlg mx-auto"
>

    <div class="-mx-[2rem] md:-mx-[3.2rem] mt-[-6.4rem]">

        <CommonCircleNumber borderColor="border-blue-2" textColor="text-blue-2" marginB="mb-[6.8rem]">3</CommonCircleNumber>
        <slot name="topHeader"></slot>
        <slot name="header"></slot>
        <hr class="w-[16rem] mx-auto my-[2.4rem] border-ternary" />
        <slot name="subHeader"></slot>
        <div 
            id="bigTrainContainer"
            class="w-screen h-full
            absolute left-[50%] top-[50%] -z-10
            -translate-x-[50%] -translate-y-[50%]
            flex items-center justify-center overflow-hidden"
        >
            <div id="bigTrain" class="w-full">
                <img src="/big-train.svg" alt="">
            </div>
        </div>
        <div id="launch-scale-box" class="relative z-20 w-full mt-[9.6rem] pb-[14.4rem] px-[2rem]
            grid grid-cols-1
            md:grid-cols-12 gap-[3.2rem]
            lg:px-[9.6rem]"
        >
            <ul class="to-reveal launch-scale-lists md:col-span-4">

                {
                    items1.map( item => {
                        return <CommonListItemBox
                            shadowType="shadow-type-1" 
                            boxBorder="border-2 border-blue-1 rounded-lg"
                            boxBg="bg-primary"
                            circleStyle="border-2 border-blue-2 rounded-full bg-primary"
                            headerTxtColor="text-blue-3"
                            paraTxtColor="text-white"
                        >
                            <span slot="header">{item.frontmatter.title}</span>
                            <span slot="desc">{item.frontmatter.desc}</span>
                            <ShapeBlocks slot="blocks" blocksColor="stroke-blue-1" />
                            <item.Content />
                        </CommonListItemBox>
                    })
                }

            </ul>
            <ul class="to-reveal launch-scale-lists md:col-span-4">

                {
                    items2.map( item => {
                        return <CommonListItemBox
                            shadowType="shadow-type-1" 
                            boxBorder="border-2 border-blue-1 rounded-lg"
                            boxBg="bg-primary"
                            circleStyle="border-2 border-blue-2 rounded-full bg-primary"
                            headerTxtColor="text-blue-3"
                            paraTxtColor="text-white"
                        >
                            <span slot="header">{item.frontmatter.title}</span>
                            <span slot="desc">{item.frontmatter.desc}</span>
                            <ShapeBlocks slot="blocks" blocksColor="stroke-blue-1" />
                            <item.Content />
                        </CommonListItemBox>
                    })
                }

            </ul>
            <ul class="to-reveal launch-scale-lists md:col-span-4">

                {
                    items3.map( item => {
                        return <CommonListItemBox
                            shadowType="shadow-type-1" 
                            boxBorder="border-2 border-blue-1 rounded-lg"
                            boxBg="bg-primary"
                            circleStyle="border-2 border-blue-2 rounded-full bg-primary"
                            headerTxtColor="text-blue-3"
                            paraTxtColor="text-white"
                        >
                            <span slot="header">{item.frontmatter.title}</span>
                            <span slot="desc">{item.frontmatter.desc}</span>
                            <ShapeBlocks slot="blocks" blocksColor="stroke-blue-1" />
                            <item.Content />
                        </CommonListItemBox>
                    })
                }

            </ul>
        </div>

    </div>

</section>